//
// Banner Area Styles
// -------------------------------------

header[role="banner"] {
	.utility-nav {
		position: absolute;
		top: 0;
		right: 0;
		> ul {
			list-style: none;
			> li {
				float: left;
				> a {
					display: inline-block;
					padding: 16px 15px;
					&:hover {
						text-decoration: none;
					}
				}
				a.twitter {
					padding: 25px 10px 0;
					color: #00ACED !important;
				}
				a.facebook {
					padding: 25px 10px 0;
					color: #3B5998 !important;
				}
				a.linkedin {
					padding: 25px 10px 0;
					color: #007BB6 !important;
				}
			}
		}
	}
}